[submodule "vendor/bootstrap-wysihtml5"]
	path = vendor/bootstrap-wysihtml5
	url = git://github.com/jhollingworth/bootstrap-wysihtml5.git 
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/wysihtml5"]
	path = vendor/wysihtml5
	url = git://github.com/xing/wysihtml5.git
